@{
    ViewData["Title"] = "_navigation";
    var isLoggedIn = Context.Session.GetString("UserLogin") != null; // Check if the user is logged in
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Web GSB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                @if (isLoggedIn)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Praticien")">Praticiens</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Connexion")">Connexion</a>
                    </li>
                }
            </ul>
            @if (isLoggedIn)
            {
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Logout", "Connexion")">Déconnexion</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>
